img{
    width: 80%;
    filter: grayscale(80%);
    filter: blur(5px);
    filter: sepia(80%);
    filter: saturate(80%);
    filter: opacity(80%);
    filter: brightness(80%);
    filter: contrast(80%);
    filter: hue-rotate(45deg);
    filter: invert(70%);
    filter: drop-shadow(20px 10px 5px #000);
    filter: grayscale(70%) blur(3px) brightness(90%) contrast(50%);
}