div{
    width: 300px;
    height: 300px;
    background: turquoise;
    margin: 50px auto;

    cursor: none;
    cursor: default; /*Por defecto*/
    cursor: pointer;
    cursor: progress;
    cursor: wait;

    cursor: cell;
    cursor: alias;
    cursor: copy;
    cursor: no-drop;
    cursor: not-allowed;
    cursor: grab;
    cursor: grabbing;

    cursor: text;
    cursor: vertical-text;

    /*Precision y redimensionamiento*/
    cursor: crosshair;
    cursor: ew-resize;
    cursor: ns-resize;
    cursor: all-scroll;
    cursor: move;
    cursor: row-resize;
    cursor: col-resize;

    /*Zoom*/
    cursor: zoom-in;
    cursor: zoom-out;

    cursor: url("../../img/cursor.png"), auto;
}