div {
    width: 200px;
    height: 200px;

    /*agujas del reloj*/
    border-width: 5px 2px 10px 20px;
    border-style: solid dashed dotted double;

    border-color: blue red violet green;
    /*border-right: 5px dotted yellow;
    border-right: 5px dotted yellow;
    */
    border: 5px solid red;
    border-radius: 10px;
    border-radius: 20px 50px;

    border-radius: 20px 50px 80px;

    /*
    1- arriba izquierda
    2- arriba derecha abajo izquierda
    3- abajo derecha
    
    */
    border-radius: 20px 50px 80px 40px;

    /*
    
    border-top-left-radius: 80px
    */
    


}