div {
    width: 500px;
    height: 400px;
    max-width: 500px;
    min-width: 500px;


    /*Altura calculadas con calc*/
    /*
    100vh = 100%
    */

    height: calc(100vh - 100px);

    background-color: red;


}