*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div{
    width: 100vw;
    height: 100vh;

    background-image: url(../../img/background3.jpg);
    background-size: cover;
}

h1{
    font-size: 80px;
    line-height: 100vh;
    text-align: center;
    text-transform: uppercase;
    mix-blend-mode: overlay;
    mix-blend-mode: color-dodge;
    mix-blend-mode: color-burn;
    mix-blend-mode: hard-light;
    mix-blend-mode: soft-light;
    mix-blend-mode: saturation;
}